<!DOCTYPE html>
<html>
<head>
    <title>OpenStreetMap Scotland <%=h yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

        <div class="container navbar-wrapper">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
               
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">OpenStreetMap Scotland</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="<%= 'active' if content_for(:title) == 'Home' %>"><a href="/">Home</a></li>
                <li class="<%= 'active' if content_for(:title) == 'About' %>"><a href="/about">About</a></li>
                <li class="<%= 'active' if content_for(:title) == 'Contact' %>"><a href="/contact">Contact</a></li>
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
          </ul> -->
          </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <%= '<div class="container">'.html_safe if !content_for?(:container)  %>  
        <%= yield %>
    <%= '</div>' if content_for?(:container)  %>  
</body>
</html>
